@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;

@use "../../styles/partials/sizing" as *;

.Alerts {
    transition: ease-out 0.5s;
    &:hover {
        background-color: $cloud;
        padding: 20px 0;
        transition: ease-in 0.5s;
    }
    &__name {
        font-weight: 400;
        font-size: 18px;
        padding-left: 37px;
    }
    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__img-container {
        display: flex;
        align-items: center;
        margin-right: 1rem;
        flex-direction: row;
    }
    &__edit {
        width: 24px;
        height: 24px;
        visibility: hidden;
        margin-top: 1px;
    }
    &__delete {
        width: 24px;
        height: 24px;
        visibility: hidden;
    }
    &__label {
        margin: 0;
        visibility: hidden;
        @include label;
        color: $dark-blue;
        margin-right: 5px;
    }
}

.--visible {
    visibility: visible;
}
