.filter-item {
    &-overall-container {
        margin: 0 225px;
    }
    &-inner-container {
        display: flex;
        padding: 1rem;
    }
    &-outer-container {
        display: flex;
    }
    &-label {
        margin-right: 1rem;
    }
    &-button {
        margin: 1rem;
    }
}
.search-bar {
    padding: 1rem;
    &-container-input {
        border: 1px solid #c9c9c9;
        border-radius: 1.875rem;
    }
}
