@use '../../styles/partials/colors' as *;
@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/sizing' as *;

.filter-item{
    &-inner-container{
        display: flex;
        margin-right: 1rem;
    }
    &-outer-container{
        display: flex;
        margin-right: 1rem;
    }
    &-button{
        @include button;
        // margin: 1rem;
        padding: .25rem 1.5rem 0.25rem 1.5rem;
        background-color: $dark-blue;
        color: $white;
        border-radius: .5rem;
    }
    &-label{
        @include subheading;
        margin: 1rem;
    }
    &-dropdown{
        @include subheading;
        margin: 1rem;
        // padding-right: 5.5rem;
    }
    &-overall-container{
        margin-left: 14.0625rem;
    }
}
.search-bar{
    &-container-input{
        border: 1px solid #c9c9c9;
        border-radius: 1.875rem;
        width: 30.6875rem;
        background-image: url('../../assets/icons/search.svg');
        background-repeat: no-repeat;
        padding-top: .5625rem;
        padding-bottom: .5625rem;
        padding-left: 4.125rem;
    }
    &-overall-container{
        width: 30.6875rem;
    }
    &-autofill{
        // border: 1px solid $grey;
        // border-radius: 1.875rem;
    }
}