@use "../../styles/partials/colors" as *;
@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/sizing" as *;

.filter-item {
    &-inner-container {
        display: flex;
        margin-right: 1rem;
    }
    &-outer-container {
        display: flex;
        margin-right: 1rem;
    }
    &-button {
        @include button;
        margin-top: 3rem;
        margin-bottom: 5rem;
        padding: 0.25rem 1.5rem 0.25rem 1.5rem;
        background-color: $dark-blue;
        color: $white;
        border-radius: 0.5rem;
        border-color: transparent;
    }
    &-label {
        @include subheading;
        margin: 1rem;
    }
    &-dropdown {
        @include subheading;
        margin: 1rem;
        // padding-right: 5.5rem;
    }
    &-overall-container {
        margin-left: 14.0625rem;
    }
}
.search-bar {
    position: relative;
    &-container-input {
        border: 1px solid #c9c9c9;
        border-radius: 1.875rem;
        width: 30.6875rem;
        background-image: url("../../assets/icons/search.svg");
        background-repeat: no-repeat;
        background-position: 7px;
        padding-top: 0.5625rem;
        padding-bottom: 0.5625rem;
        padding-left: 4.125rem;
        margin-bottom: 0.5rem;
    }
    &-overall-container {
        width: 30.6875rem;
        &::after {
            content: url("../../assets/icons/Google_mic\ 1.svg");
            display: inline-block;
            width: 12px;
            height: 12px;
            position: absolute;
            right: 260px;
            top: 58px;
        }
    }
    &-autofill {
        // border: 1px solid $grey;
        // border-radius: 1.875rem;
    }
}
