@use "../../styles/partials/colors";
@use "../../styles/partials/fonts";

@use "../../styles/partials/sizing";

.Header {
    padding: 18px 56px;
    display: flex;
    justify-content: space-between;

    &__google-logo {
        width: 138px;
        height: 102px;
    }
    &__icon-container {
        gap: 3.5rem;
        display: flex;
        align-items: center;
    }
    &__profile-picture {
        width: 62px;
        height: 62px;
    }
    &__candy-box {
        width: 34px;
        height: 34px;
    }
}
