@use "./styles/partials/colors" as *;
@use "./styles/partials/fonts" as *;
@use "./styles/partials/sizing" as *;

*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Roboto";
    font-weight: 400;
    position: relative;
}

.Home {
    &__title {
        text-align: left;
        margin-top: 0.5rem;
        margin-left: 39px;
        @include h1;
        font-weight: 500;
    }
}

.Text-size {
    text-align: right;
    margin-right: 55px;
    position: absolute;
    left: 90.6%;
    &__title {
        @include label;
    }
    &__zoom-in {
        height: 24px;
        width: 24px;
        margin-right: 1rem;
    }
    &__zoom-out {
        height: 24px;
        width: 24px;
    }
}

.Dashboard {
    width: 324px;
    &__title {
        background-color: $dark-blue;
        color: #fefefe;
        padding: 19px 37px;
        border-radius: 2px;
        font-weight: 400;
        margin-bottom: 0;
        @include h5;
        border-top-right-radius: 15px;
    }
    &__alerts {
        padding: 0 37px;
        font-weight: 500;
        @include h6;
    }
    &__web {
        @include h6;
        padding: 0 37px;
        font-weight: 500;
        margin-top: 65px;
    }
    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__options {
        width: 75px;
        height: 75px;
    }
    &__wrapper {
        background-color: $white;
    }
}

.Alerts-Data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    &__title {
    }
}

.Content-Section {
    display: flex;
}
