*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.Home {
    &__title {
        text-align: left;
        margin-left: 16px;
    }
}

.Dashboard {
    width: 350px;
    &__title {
        background-color: grey;
        padding: 16px;
        border-radius: 2px;
    }
}
